* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    text-align: center;
    font-size: 3rem;
    
}
.container {
    width: 70%;
    padding: 1rem;
    border: 1px solid black;

    
}

.cabecera {
    background-color: brown;
    margin-bottom: 2 rem;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    
}